.contact {
    margin-top: 2rem;
    min-height: 100vh;
    @media (min-height: 1000px) {
        min-height: 70vh;
    }
    @media (max-width: 600px) {
        margin-top: 4rem;
    }
    &--container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 4em;
        @media (max-width: 792px) {
            display: block;
        }
        .links {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
            justify-items: flex-end;
            row-gap: 1rem;
            @media (max-width: 792px) {
                justify-items: center;
                margin-bottom: 2rem;
            }
            >div {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 1em;
                border: 1px solid transparent;
                background-color: var(--clr-bg-variant);
                border-radius: 15px;
                transition: var(--transition);
                @media (max-width: 792px) {
                    width: 80%;
                }
                &:hover {
                    background-color: transparent;
                    border-color: var(--clr-primary-variant);
                }
                .i {
                    font-size: 1.4rem;
                    margin-bottom: .5em;
                }
                h5 {
                    text-transform: capitalize;
                    margin-bottom: .2em;
                }
                p {
                    font-size: .8rem;
                    color: var(--clr-light);
                    margin-bottom: .7em;
                }
                a {
                    font-size: .7rem;
                    color: var(--clr-primary);
                    cursor: pointer;
                    transition: var(--transition);
                    &:hover {
                        color: var(--clr-white);
                    }
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            @media (max-width: 792px) {
                width: 90%;
                margin: auto;
            }
            input,textarea {
                resize: none;
                padding: 1.5em 1em;
                background-color: transparent;
                border: 1px solid var(--clr-primary-variant);
                border-radius: 10px;
                color: var(--clr-white);
                &::placeholder {
                    color: var(--clr-light);
                    text-transform: capitalize;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}